/*  --------------------------------------------------
  = Messages
  -------------------------------------------------- */

.fon_messages {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.fon_messages > li {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.2);
}

.fon_messages p {
    display: block;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: 14px;
}

.error {
    border: 1px solid #bc5752;
}

.success {
    border: 1px solid #8BDC7A;
}

.error p {
    color: #C4685A;
    background: url(img/icons/error_icon.png) left 2px no-repeat;
}

.success p {
    color: #75C95F;
    background: url(img/icons/success_icon.png) left top no-repeat;
}

/*  --------------------------------------------------
  = Pagination
  http://cssdeck.com/item/105/css-pagination-styles
  -------------------------------------------------- */

.fon-pagination li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 1px 3px rgba(0,0,0,.1);
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 1px 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 1px 3px rgba(0,0,0,.1);
}

.fon-pagination li > * {
    border: solid 1px #c0c0c0;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    line-height: 25px;
    color: #717171;
    background: #e9e9e9;
}

.fon-pagination a:hover {
    text-decoration: none;
    background: #fefefe;
    background-color: #F0F0F0;
    background-image: -webkit-linear-gradient(top,#FEFEFE 0,#F0F0F0 100%);
    background-image: -moz-linear-gradient(top,#FEFEFE 0,#F0F0F0 100%);
    background-image: -ms-linear-gradient(top,#FEFEFE 0,#F0F0F0 100%);
    background-image: -o-linear-gradient(top,#FEFEFE 0,#F0F0F0 100%);
    background-image: linear-gradient(top,#FEFEFE 0,#F0F0F0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEFEFE),color-stop(100%,#F0F0F0));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F0F0F0',GradientType=0 );
}

.fon-pagination .current {
    border: none;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
    color: #f0f0f0;
    background: #616161;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.5) inset,0 1px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.5) inset,0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 0 8px rgba(0,0,0,.5) inset,0 1px 0 rgba(255,255,255,.2);
    -ms-box-shadow: 0 0 8px rgba(0,0,0,.5) inset,0 1px 0 rgba(255,255,255,.2);
    -o-box-shadow: 0 0 8px rgba(0,0,0,.5) inset,0 1px 0 rgba(255,255,255,.2);
}

/* Dark */

.fon-pagination.dark li > * {
    border: solid 1px #32373b;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #feffff;
    background: #3e4347;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.1) ,0 1px 3px rgba(0,0,0,.1);
}

.fon-pagination.dark a:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear,0 0,0 100%,from(#547085),to(#3d4f5d));
    background: -moz-linear-gradient(0% 0 270deg,#547085,#3d4f5d);
}

.fon-pagination.dark .current {
    background: #2f3237;
    box-shadow: inset 0 0 8px rgba(0,0,0,.5) ,0 1px 0 rgba(255,255,255,.1);
}

/*  --------------------------------------------------
  = Divers
  -------------------------------------------------- */

code {
    padding: 2px 4px;
    border: 1px solid #E1E1E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #dc3522;
    background-color: #F7F7F9;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

/*  --------------------------------------------------
  = Transitions
  -------------------------------------------------- */

a {
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition:    color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition:      color .2s ease-in-out, background-color .2s ease-in-out;
  transition:         color .2s ease-in-out, background-color .2s ease-in-out;
}

/*  --------------------------------------------------
  = Links
  -------------------------------------------------- */

a:hover {
    text-decoration: none;
}


/* Selection (can't merge the two selectors) */

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

/*  --------------------------------------------------
  = Hacks
  -------------------------------------------------- */

/* Micro clearfix hack */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
