.error404 {
    overflow: hidden;
}

.error404 .e404-title {
    position: relative;
    z-index: 2;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-family: 'Futura Book', 'Futura Std Book', sans-serif;
    text-transform: uppercase;
}

.e404-shape {
    position: absolute;
    background: transparent;
    z-index: 1;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
