@charset "UTF-8";

/* ----------------------------------------------------------
   Content styles (front and admin tinyMCE)
   ------------------------------------------------------- */

.wp-editor p,
.wp-editor li,
.blabla p,
.blabla li {
    font-family: 'Georgia', serif;
    font-size: 19px;
    line-height: 1.5;
    color: #70787f;
}

.wp-editor p,
.blabla p {
    margin-bottom: 15px;
}

.wp-editor a,
.blabla a {
    color: red;
}

.wp-editor h1,
.blabla h1{
}

.wp-editor h2,
.blabla h2{
}

.wp-editor h3,
.blabla h3{
}

.wp-editor h4,
.blabla h4{
}

.wp-editor p,
.blabla p{
}

.wp-editor ul,
.blabla ul{
}

.wp-editor ol,
.blabla ol{
}

.wp-editor blockquote,
.blabla blockquote{
}

.wp-editor pre,
.blabla pre{
}

.wp-editor address,
.blabla address{
}

.wp-editor address,
.blabla address{
}

.wp-editor strong,
.blabla strong{
}

.wp-editor em,
.blabla em{
}

.wp-editor acronym,
.blabla acronym{
}

.wp-editor code,
.blabla code{
}

.wp-editor del,
.blabla del{
}

.wp-editor ins,
.blabla ins{
}

.alignleft {
    display: inline;
    float: left;
}

.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

.alignright {
    display: inline;
    float: right;
}

.size-auto {
}

.size-medium {
}

.size-large {
}

.size-full {
}

.wp-caption {
}

.wp-caption img {
}

.gallery {
}

.gallery .gallery-item {
}