@charset "UTF-8";

/* ----------------------------------------------------------
   Print styles
   ------------------------------------------------------- */

@media print {

    * {
        text-shadow: none !important;
        /*color: black !important;*/
        /*background: transparent !important;*/
    }

    .blabla a[href]:after {
        content: " (" attr(href) ") ";
    }

    .blabla abbr[title]:after {
        content: " (" attr(title) ") ";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    ul,
    ol,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}